<table id="example2" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Dari</th>
      <th>Tanggal</th>
      <th>Jenis Dokumen</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for(let i=0; i< form.length; i++) {%>
    <tr>
      <td><%= i+1 %></td>
      <td><%= form[i].dibuat.jabatan %></td>
      <td><%= form[i].tanggal %></td>
      <td><%= form[i].jenisdok %></td>
      <td>
        <% if(form[i].statusbaca === false) {%>Belum dibaca <%} else {%> Dibaca
        <%}%>
      </td>
      <td>
        <form
          action="/formuser/view/<%= form[i]._id %>?statusbaca=true&_method=PUT"
          method="POST"
        >
          <a href="/formuser/viewDok/<%= form[i]._id %>">
            <button class="btn btn-primary btn-sm">lihat</button>
          </a>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
